.completed{
  text-decoration: line-through;
  color: gray;
}

.active{
  color: green;
  font-weight: bold;
}
.filter-button-normal{
  background-color: palevioletred;
  color: black;
  border: 1px black solid;
}
.filter-button-active{
  background-color: blueviolet;
  color: azure;
  border: 1px black solid;
}